<!DOCTYPE html>
<html class="no-js" ng-app="GeoFeelings">
<head>
    <meta charset="utf-8">
    <title>GeoFeelings</title>

    <link rel="stylesheet" href="less/style.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1vD0bBuFvI29gfn6fA1qXR5ex5xwyPU"></script>

    <script src="../bower_components/modernizr/bin/modernizr.js"></script>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>

    <script src="javascript/app.js"></script>
    <script src="javascript/control.js"></script>
    <script src="javascript/googleservice.js"></script>

</head>
<body ng-controller="control">
<main>
<div id="map"></div>
<form class="dataForm" id="checkForm" novalidate>
    <div class="formGroup">
    <label for="username">Username</label>
    <input type="text" class="formInput" id="username" placeholder="Username" ng-model="formData.username" required>
    </div>

    <label>Current Mood</label>
    <div class="radio" required>
        <input type="radio" name="optionMood" id="optionHappy" value="Happy" ng-model="formData.mood">Happy
    </div>
    <div class="radio">
        <input type="radio" name="optionMood" id="optionSad" value="Sad" ng-model="formData.mood">Sad
     </div>

    <div class="textareaGroup">
        <label for="formMotivation">Why are you feeling that way?</label>
        <textarea form="checkForm" rows="3" cols="30" class="formInput" id="formMotivation" placeholder="Why do I feel this way?" ng-model="formData.motivation">
            </textarea>
    </div>
    <button type="submit" class="btnSubmit" ng-click="checkIn()" ng-disabled="checkForm.$invalid">Check in</button>
</form>
</main>
</body>
</html>