body {
  width: 100%;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #5895e9;
}
body main fieldset {
  display: inline-block;
  width: 255px;
  float: left;
  margin-left: 10px;
  border-color: #5895e9;
}
body main .map {
  float: left;
  display: inline-block;
  width: 845px;
  height: 645px;
  background-color: lightgrey;
}
header {
  width: 100%;
  display: block;
  float: left;
  background: #5895e9;
  color: #ffffff;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
}
header .heading {
  width: 1240px;
  margin: auto;
}
header .heading h1 {
  margin-top: 40px;
}
main {
  width: 1240px;
  margin: auto;
}
label {
  display: block;
  font-weight: bold;
}
textarea {
  align-content: center;
  resize: none;
}
.textareaGroup *,
.formGroup * {
  margin-bottom: 5px;
  display: block;
}
.btnSubmit {
  background-color: #5895e9;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.btnSubmit:hover {
  cursor: pointer;
  background-color: white;
  border-color: #5895e9;
  color: #5895e9;
}
.btnSubmit:disabled {
  background: lightgrey;
}
.btnSubmit:disabled:hover {
  background: lightgrey;
  border-color: #ffffff;
  color: #ffffff;
}
