@colorbasic : #5895e9;
body{
  width: 100%;
  font-family: verdana, helvetica, arial, sans-serif;
  color: @colorbasic;
  main{
    form{
      display: inline-block;
      width: 100% - 645px;
    }
    .map{
      display: inline-block;
      widows: 645px;
    }
  }
}
label{
  font-weight: bold;}
textarea{
  align-content: center;
  resize: none;
}
.textareaGroup *, .formGroup *{
  margin-bottom: 5px;
display:block;
}
.btnSubmit{
  background-color: @colorbasic;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius:4px;
}